.header{
    padding: 10px;
    height: 5vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerLeft, .headerRight{
    display: flex;
    align-items: center;
  
}
span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;  
}
span:hover{
    color: red;
}
.header__icon{
    width: 80px;
    cursor: pointer;
}
/* .user__avatar{
    font-size: 2rem;
} */